/*My old style*/
.center {
    width: 920px;
    padding: 30px;
    margin: auto;
    border: none;
}
.error{
    color:red;
}
span.error{
    color:red;
}
body{
    background: url("/image/bac1.jpg") no-repeat;
    background-size: 100%;

}
th, td {
    border-bottom: 1px solid black;
}